# Supabase Configuration
SUPABASE_URL=https://ulumbarwutnsodmzxpst.supabase.co
SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=https://ulumbarwutnsodmzxpst.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_GEMINI_API_KEY=
VITE_GROQ_API_KEY=
GROQ_API_KEY=

# App Configuration
VITE_TELEGRAM_BOT_USERNAME=KamiAnime_bot
APP_URL=http://localhost:3000
